<div class="container">
  <div class="row justify-content-center">
    <h3>Create a new cocktail</h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group">
      <%= simple_form_for ([@cocktail]) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-info" %>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to 'Please take me back', cocktails_path, class: "btn btn-danger m-3" %></div>
  </div>
</div>